<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微信公众号</title>
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="../css/bootstrap-vue.min.css"/>
</head>
<body>
<div id="vue">
    <b-input-group size="sm">
        <b-form-input type="password" placeholder="secret" v-model="secret"></b-form-input>
        <b-form-input type="number" placeholder="tokenExp" v-model="tokenExp"></b-form-input>
        <b-button size="sm" variant="outline-primary" @click="login">login</b-button>
    </b-input-group>

    <hr/>

    <b-button-group size="sm" style="width: 100%">
        <b-button disabled>allTemplate</b-button>
        <b-button variant="outline-info" @click="listAllTemplate">flush</b-button>
    </b-button-group>
    <b-form-textarea disabled :rows="allTemplateRow" v-model="allTemplateJson"
                     @input="flushAllTemplateRow"></b-form-textarea>

    <b-button-group size="sm" style="width: 100%">
        <b-button disabled>allTag</b-button>
        <b-button variant="outline-info" @click="listAllTag">flush</b-button>
    </b-button-group>
    <b-form-textarea disabled :rows="allTagRow" v-model="allTagJson" @input="flushAllTagRow"></b-form-textarea>

    <b-button-group size="sm" style="width: 100%">
        <b-button disabled>allUserInfo</b-button>
        <b-button variant="outline-info" @click="listAllUserInfo">flush</b-button>
    </b-button-group>
    <b-form-textarea disabled :rows="allUserInfoRow" v-model="allUserInfoJson"
                     @input="flushAllUserInfoRow"></b-form-textarea>

    <hr/>

    <b-input-group size="sm" prepend="createTag">
        <b-form-input placeholder="tag" v-model="createTagName"></b-form-input>
        <b-input-group-append>
            <b-button variant="outline-primary" @click="createTag">create</b-button>
        </b-input-group-append>
    </b-input-group>

    <b-input-group size="sm" prepend="deleteTag">
        <b-form-input placeholder="tag_id" v-model="deleteTagId"></b-form-input>
        <b-input-group-append>
            <b-button variant="outline-danger" @click="deleteTag">delete</b-button>
        </b-input-group-append>
    </b-input-group>

    <b-input-group size="sm" prepend="addTagToUser">
        <b-form-input placeholder="tag_id" v-model="addTagToUserTagId"></b-form-input>
        <b-form-input placeholder="open_id" v-model="addTagToUserOpenId"></b-form-input>
        <b-input-group-append>
            <b-button variant="outline-primary" @click="addTagToUser">add</b-button>
        </b-input-group-append>
    </b-input-group>

    <b-input-group size="sm" prepend="deleteTagFromUser">
        <b-form-input placeholder="tag_id" v-model="deleteTagFromUserTagId"></b-form-input>
        <b-form-input placeholder="open_id" v-model="deleteTagFromUserOpenId"></b-form-input>
        <b-input-group-append>
            <b-button variant="outline-danger" @click="deleteTagFromUser">delete</b-button>
        </b-input-group-append>
    </b-input-group>

    <hr/>

    <b-button-group size="sm" style="width: 100%">
        <b-button disabled>allTagUserInfo</b-button>
        <b-button variant="outline-info" @click="listAllTagUserInfo">flush</b-button>
    </b-button-group>
    <b-form-textarea disabled :rows="allTagUserInfoRow" v-model="allTagUserInfoJson"></b-form-textarea>

    <hr/>

    <b-input-group size="sm" prepend="sendTemplateToTag">
        <b-form-input placeholder="template_id" v-model="sendTemplateToTagTemplateId"></b-form-input>
        <b-form-input placeholder="tag_id" v-model="sendTemplateToTagTagId"></b-form-input>
        <b-form-input placeholder="url" v-model="sendTemplateToTagUrl"></b-form-input>
        <b-input-group-append>
            <b-button variant="outline-primary" @click="sendTemplateToTag">send</b-button>
        </b-input-group-append>
    </b-input-group>
    <b-form-textarea size="sm" :rows="sendTemplateToTagDataRow" v-model="sendTemplateToTagData" placeholder="data"
                     @input="flushSendTemplateToTagDataRow"></b-form-textarea>
</div>
</body>
<script src="../js/vue.min.js"></script>
<script src="../js/bootstrap-vue.min.js"></script>
<script src="../js/bootstrap-vue-icons.min.js"></script>
<script src="../js/qs.min.js"></script>
<script src="../js/axios.min.js"></script>
<script src="../js/sha256.min.js"></script>
<script src="../js/jsrsasign-latest-all-min.js"></script>
<script src="../js/util.js"></script>
<script>
    const instance = axios.create({timeout: 60 * 1000})
    instance.interceptors.request.use(
        config => {
            config.headers['Authorization'] = 'Bearer ' + enJwt()
            return config
        },
        error => Promise.reject(error))

    let vue = new Vue({
        el: '#vue',
        data: {
            secret: '',
            tokenExp: 3,

            allTemplateJson: '',
            allTemplateRow: 1,

            allTagJson: '',
            allTagRow: 1,

            allUserInfoJson: '',
            allUserInfoRow: 1,

            allTagUserInfoJson: '',
            allTagUserInfoRow: 1,

            createTagName: '',
            deleteTagId: '',

            addTagToUserTagId: '',
            addTagToUserOpenId: '',

            deleteTagFromUserTagId: '',
            deleteTagFromUserOpenId: '',

            sendTemplateToTagTemplateId: '',
            sendTemplateToTagTagId: '',
            sendTemplateToTagUrl: '',
            sendTemplateToTagData: '',
            sendTemplateToTagDataRow: 1,
        },
        methods: {
            login() {
                let url = '../../ping'
                if (document.domain === 'localhost') {
                    url += '.json'
                }
                setSecret(this.secret)
                setTokenExp(this.tokenExp)
                instance.post(url, {})
                    .then(response => {
                        const result = response.data
                        alert(JSON.stringify(result))
                        if (result.code === 1) {
                            this.listAllTemplate()
                            this.listAllTag()
                            this.listAllUserInfo()
                        }
                    })
                    .catch(axiosCatch)
            },
            listAllTemplate() {
                let url = '../../api/listAllTemplate'
                if (document.domain === 'localhost') {
                    url += '.json'
                }
                instance.get(url, {params: {},})
                    .then(response => {
                        let result = response.data
                        if (result.code !== 1) {
                            alert(result.msg)
                            return
                        }
                        this.allTemplateJson = JSON.stringify(result.data.list, null, 2)
                        this.allTemplateRow = this.allTemplateJson.split("\n").length
                    })
                    .catch(axiosCatch)
            },
            flushAllTemplateRow(text) {
                this.allTemplateRow = text.split("\n").length
            },
            listAllTag() {
                let url = '../../api/listAllTag'
                if (document.domain === 'localhost') {
                    url += '.json'
                }
                instance.get(url, {params: {},})
                    .then(response => {
                        let result = response.data
                        if (result.code !== 1) {
                            alert(result.msg)
                            return
                        }
                        this.allTagJson = JSON.stringify(result.data.list, null, 2)
                        this.allTagRow = this.allTagJson.split("\n").length
                    })
                    .catch(axiosCatch)
            },
            flushAllTagRow(text) {
                this.allTagRow = text.split("\n").length
            },
            listAllUserInfo() {
                let url = '../../api/listAllUserInfo'
                if (document.domain === 'localhost') {
                    url += '.json'
                }
                instance.get(url, {params: {},})
                    .then(response => {
                        let result = response.data
                        if (result.code !== 1) {
                            alert(result.msg)
                            return
                        }
                        this.allUserInfoJson = JSON.stringify(result.data.list, null, 2)
                        this.allUserInfoRow = this.allUserInfoJson.split("\n").length
                    })
                    .catch(axiosCatch)
            },
            flushAllUserInfoRow(text) {
                this.allUserInfoRow = text.split("\n").length
            },
            createTag() {
                let tag = this.createTagName
                if (tag === undefined || tag == null || tag === '') {
                    alert('tag为空')
                    return
                }
                if (!window.confirm("createTag？：" + tag)) {
                    return
                }
                let url = '../../api/createTag'
                if (document.domain === 'localhost') {
                    url += '.json'
                }
                instance.post(url, {tag: tag})
                    .then(response => {
                        const result = response.data
                        alert(JSON.stringify(result))
                        if (result.code === 1) {
                            this.createTagName = ''
                            this.listAllTag()
                        }
                    })
                    .catch(axiosCatch)
            },
            deleteTag() {
                if (this.deleteTagId === undefined || this.deleteTagId == null || this.deleteTagId === '') {
                    alert('tag_id为空')
                    return
                }
                let tag_id = parseInt(this.deleteTagId)
                if (tag_id === 0) {
                    alert('tag_id为空')
                    return
                }
                if (!window.confirm("deleteTag？：" + tag_id)) {
                    return
                }
                let url = '../../api/deleteTag'
                if (document.domain === 'localhost') {
                    url += '.json'
                }
                instance.post(url, {tag_id: tag_id})
                    .then(response => {
                        const result = response.data
                        alert(JSON.stringify(result))
                        if (result.code === 1) {
                            this.deleteTagId = ''
                            this.listAllTag()
                            this.listAllUserInfo()
                        }
                    })
                    .catch(axiosCatch)
            },
            addTagToUser() {
                if (this.addTagToUserTagId === undefined || this.addTagToUserTagId == null || this.addTagToUserTagId === '') {
                    alert('tag_id为空')
                    return
                }
                let tag_id = parseInt(this.addTagToUserTagId)
                if (tag_id === 0) {
                    alert('tag_id为空')
                    return
                }
                if (this.addTagToUserOpenId === undefined || this.addTagToUserOpenId == null || this.addTagToUserOpenId === '') {
                    alert('open_id为空')
                    return
                }
                let open_id = this.addTagToUserOpenId
                if (!window.confirm('addTagToUser？：' + open_id + '=>' + tag_id)) {
                    return
                }
                let url = '../../api/addTagToUser'
                if (document.domain === 'localhost') {
                    url += '.json'
                }

                instance.post(url, {tag_id: tag_id, open_id: open_id})
                    .then(response => {
                        const result = response.data
                        alert(JSON.stringify(result))
                        if (result.code === 1) {
                            this.addTagToUserTagId = ""
                            this.addTagToUserOpenId = ""
                            this.listAllUserInfo()
                        }
                    })
                    .catch(axiosCatch)
            },
            deleteTagFromUser() {
                if (this.deleteTagFromUserTagId === undefined || this.deleteTagFromUserTagId == null || this.deleteTagFromUserTagId === '') {
                    alert('tag_id为空')
                    return
                }
                let tag_id = parseInt(this.deleteTagFromUserTagId)
                if (tag_id === 0) {
                    alert('tag_id为空')
                    return
                }
                if (this.deleteTagFromUserOpenId === undefined || this.deleteTagFromUserOpenId == null || this.deleteTagFromUserOpenId === '') {
                    alert('open_id为空')
                    return
                }
                let open_id = this.deleteTagFromUserOpenId
                if (!window.confirm('deleteTagFromUser？：' + open_id + '=>' + tag_id)) {
                    return
                }
                let url = '../../api/deleteTagFromUser'
                if (document.domain === 'localhost') {
                    url += '.json'
                }
                instance.post(url, {tag_id: tag_id, open_id: open_id})
                    .then(response => {
                        const result = response.data
                        alert(JSON.stringify(result))
                        if (result.code === 1) {
                            this.deleteTagFromUserTagId = ''
                            this.deleteTagFromUserOpenId = ''
                            this.listAllUserInfo()
                        }
                    })
                    .catch(axiosCatch)
            },
            listAllTagUserInfo() {
                let tags = JSON.parse(this.allTagJson)
                let tagId2UserInfos = {}
                for (let i = 0; i < tags.length; i++) {
                    tagId2UserInfos[tags[i].id] = []
                }

                let userInfos = JSON.parse(this.allUserInfoJson)
                for (let i = 0; i < userInfos.length; i++) {
                    const userInfo = userInfos[i]
                    for (let j = 0; j < userInfo['tagid_list'].length; j++) {
                        let users = tagId2UserInfos[userInfo['tagid_list'][j]]
                        if (users === undefined || users != null) {
                            users = []
                        }
                        users.push(userInfo.nickname + ':' + userInfo.openid)
                        tagId2UserInfos[userInfo['tagid_list'][j]] = users
                    }
                }

                let tag2UserInfos = {}
                for (let tag_id in tagId2UserInfos) {
                    for (let i = 0; i < tags.length; i++) {
                        if (tags[i].id == tag_id) {
                            tag2UserInfos[tags[i].id + ':' + tags[i].name] = tagId2UserInfos[tag_id]
                            break
                        }
                    }
                }
                this.allTagUserInfoJson = JSON.stringify(tag2UserInfos, null, 2)
                this.allTagUserInfoRow = this.allTagUserInfoJson.split("\n").length
            },
            sendTemplateToTag() {
                let template_id = this.sendTemplateToTagTemplateId
                if (template_id === undefined || template_id == null || template_id === '') {
                    alert('template_id为空')
                    return
                }
                if (this.sendTemplateToTagTagId === undefined || this.sendTemplateToTagTagId == null || this.sendTemplateToTagTagId === '') {
                    alert('tag_id为空')
                    return
                }
                let tag_id = parseInt(this.sendTemplateToTagTagId)
                if (tag_id === 0) {
                    alert('tag_id为空')
                    return
                }
                let data = JSON.parse(this.sendTemplateToTagData)
                if (!window.confirm("sendTemplateToTag？")) {
                    return
                }
                let url = '../../api/sendTemplateToTag'
                if (document.domain === 'localhost') {
                    url += '.json'
                }
                instance.post(url, {
                    template_id: template_id,
                    tag_id: tag_id,
                    url: this.sendTemplateToTagUrl,
                    data: data,
                })
                    .then(response => {
                        const result = response.data
                        alert(JSON.stringify(result))
                    })
                    .catch(axiosCatch)
            },
            flushSendTemplateToTagDataRow(text) {
                try {
                    let json = JSON.parse(text)
                    if (typeof json == "object") {
                        this.sendTemplateToTagData = JSON.stringify(json, null, 2)
                    }
                } catch (e) {
                }
                this.sendTemplateToTagDataRow = this.sendTemplateToTagData.split("\n").length
            },
        },
    })

    function isJson(string) {

        return false
    }

    function axiosCatch(error) {
        let msg = JSON.stringify(error)
        if (msg === undefined || msg == null || msg === '' || msg === '{}' || msg === '[]') {
            msg = error
        }
        alert('error: ' + msg)
        console.log('error: ' + msg)
    }
</script>
</html>